# Fetch current upstream HEAD when installing the runtime tools.
# To refresh an existing environment: pip install --force-reinstall -r requirements-runtime.txt
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
gallery-dl @ https://codeberg.org/mikf/gallery-dl/archive/master.tar.gz
