<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="Igloo"
    Manufacturer="Igloo"
    Version="$(var.ProductVersion)"
    UpgradeCode="1CC6AA3F-B763-48AE-BF8F-C67B70EB823D">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" LicenseUrl="" LaunchTarget="http://localhost:5001" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile="$(var.MsiPath)" />
    </Chain>
  </Bundle>
</Wix>
